# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/note/
**/node_modules/
**/dist/
**/test/
**/README.md

**/.env
**/.DS_Store
**/coverage/

**/logs
*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*